version: 2
jobs:
  build:
    docker:
      - image: wxishiko/ubuntu-wxwidgets-build:latest
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run:
          name: wxCharts library build
          command: make
      - run:
          name: wxCharts tests build
          command: make
          working_directory: tests
          environment:
            WXCHARTS_ROOT: ..
      - run:
          name: wxAreaChart sample build
          command: make
          working_directory: samples/areachart
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxBar sample build
          command: make
          working_directory: samples/bar
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxBubble sample build
          command: make
          working_directory: samples/bubble
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxCandlestick sample build
          command: make
          working_directory: samples/candlestick
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxColumn sample build
          command: make
          working_directory: samples/column
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxCombinationChart sample build
          command: make
          working_directory: samples/combinationchart
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxDoughnut sample build
          command: make
          working_directory: samples/doughnut
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxHistogramChart sample build
          command: make
          working_directory: samples/histogram
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxLine sample build
          command: make
          working_directory: samples/line
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxMath2D sample build
          command: make
          working_directory: samples/math2d
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxMath2D interactive sample build
          command: make
          working_directory: samples/math2dinteractive
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxOHLC sample build
          command: make
          working_directory: samples/ohlc
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxPie sample build
          command: make
          working_directory: samples/pie
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxPolarArea sample build
          command: make
          working_directory: samples/polararea
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxRadar sample build
          command: make
          working_directory: samples/radar
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxScatterPlot sample build
          command: make
          working_directory: samples/scatterplot
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxStackedBar sample build
          command: make
          working_directory: samples/stackedbar
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxStackedColumn sample build
          command: make
          working_directory: samples/stackedcolumn
          environment:
            WXCHARTS_ROOT: ../..
      - run:
          name: wxTimeSeriesChart sample build
          command: make
          working_directory: samples/timeseries
          environment:
            WXCHARTS_ROOT: ../..
